<!-- Featured posts: you can reuse this page anywhere to show featured -->
<!-- or use it in tags/pages to show matching slug featured posts -->
{{^is "paged"}}

{{#is "home"}}
{{#get "posts" filter="featured:true" limit="3"}}
{{> "featured_content" posts=posts}}
{{/get}}
{{else}}
{{#get "posts" filter="featured:true+tag:{{slug}}" limit="3"}}

<div class="mt-4">
{{> "featured_content" posts=posts}}
</div>
{{/get}}
{{/is}}
{{/is}}