<div class="w-1/2 pl-3 font-text text-grayPrimary">
  Hello! I’m Alessandro Belli. Software Developer, Researcher from Italy, resident and working happily in Bremen –
  Germany. I'm trying to learn with people the best practices in tech and software-web development.
  
  In my Newsletter I discuss digital life, life and virtual life in general, I promise I won't bother more than once a
  week, with things that certainly tickle your thinking.
</div>