<div class="w-full pl-2">
  <ul class="text-lg">

<li class="nav-{{slug}} md:py-0 py-2 md:inline mr-4">
  <label for="toggleB" class="flex items-center cursor-pointer">
    <!-- toggle -->
    <div class="relative">
      <!-- input -->
      <input type="checkbox" id="inputToggle" class="sr-only">
      <!-- line -->
      <div class="block h-8 bg-gray-600 rounded-full w-14" id="toggleDark"></div>
      <!-- dot -->
      <div class="absolute w-6 h-6 transition bg-white rounded-full dot left-1 top-1"></div>
    </div>
    <!-- label -->
    <div class="ml-3 font-medium text-gray-700">
      Dark?
    </div>
      </label>
    </li>

    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}} {{#if current}}border-b-4 border-primary nav-current font-bold border-solid {{/if}} border-dashed hover:border-b-4 hover:border-primary md:py-0 py-2 md:inline mr-4 hover:text-graySecondary"><a class="text-grayPrimary dark:text-graySecondary" href="{{url absolute=" true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
</div>
