<div class="w-full pl-2">
  <ul class="text-grayPrimary">
    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current font-bold {{/if}} md:py-0 py-2  md:inline mr-4 hover:underline hover:text-graySecondary"><a class="text-black hover:border-b-2 hover:border-green-500" href="{{url absolute=" true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
</div>
