<div class="w-full pl-2">
  <ul class="text-lg">

<li class="nav-{{slug}} md:py-0 py-2 md:inline mr-4">
<div
  class="relative inline-block w-10 mr-2 align-middle transition duration-200 ease-in select-none"
>
  <input
    type="checkbox"
    name="toggleDark"
    id="toggleDark"
    class="absolute block w-6 h-6 bg-white border-4 rounded-full appearance-none cursor-pointer toggle-checkbox"
  />
  <label
    for="toggle"
    class="block h-6 overflow-hidden bg-gray-300 rounded-full cursor-pointer toggle-label"
  ></label>
</div>
<label for="toggleDark" class="text-xs text-gray-700">Toggle me.</label>
    </li>

    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}} {{#if current}}border-b-4 border-primary nav-current font-bold border-solid {{/if}} border-dashed hover:border-b-4 hover:border-primary md:py-0 py-2 md:inline mr-4 hover:text-graySecondary"><a class="text-grayPrimary dark:text-graySecondary" href="{{url absolute=" true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
</div>
