<div class="w-full pl-0 sm:pl-2">
  {{#unless isSecondary}}
  <div class="w-full xs:hidden" onclick="mobileMenu()">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 32 32"
    stroke="currentColor"
    class="w-6 mx-auto"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 6h16M4 12h16M4 18h16"
    ></path>
  </svg>
</div>
{{/unless}}
  <ul class="text-base text-center sm:hidden md:block md:text-lg" id="myLinks">

    <!-- Loop through the navigation items -->
    {{#foreach navigation}}
    <li class="nav-{{slug}} list-none {{#if current}}border-b-4 border-primary nav-current font-bold border-solid {{/if}} border-solid hover:border-b-4 hover:border-primary md:py-0 py-2 md:inline mr-4 hover:text-graySecondary"><a class="{{#if current}}dark:text-mypink text-mypink{{/if}} text-grayPrimary dark:text-graySecondary" href="{{url absolute=" true"}}">{{label}}</a></li>
    {{/foreach}}
    <!-- End the loop -->
  </ul>
</div>

