    <div class="header-right hidden-xs hidden-sm hidden-md">
        {{#if @member}}
            <button class="button-text menu-item members-account" data-portal="account">Account</button>
            {{#unless @member.paid}}
                <button class="button-text menu-item menu-item-cta members-upgrade" data-portal="account/plans">Upgrade</button>
            {{/unless}}
        {{else}}
            <button class="button-text menu-item members-login" data-portal="signin">Login</button>
            <button class="button-text menu-item menu-item-cta members-subscribe" data-portal="signup">Subscribe</button>
        {{/if}}
    </div>