        {{#if @site.navigation}}
    <div class="w-1/2 mx-auto text-xs antialiased font-header lg:hidden sm:block">
        {{#if @member}}
            <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-account" data-portal="account">Account</button>
            {{#unless @member.paid}}
                <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-upgrade" data-portal="account/plans">Upgrade</button>
            {{/unless}}
        {{else}}
            <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 members-login" data-portal="signin">Login</button>
            <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-subscribe" data-portal="signup">Subscribe</button>
        {{/if}}
    </div>
    {{/if}}

    <div class="w-1/2 mx-auto text-base antialiased font-header xs:hidden sm:hidden lg:block">
        {{#if @member}}
            <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-account" data-portal="account">Account</button>
            {{#unless @member.paid}}
                <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-upgrade" data-portal="account/plans">Upgrade</button>
            {{/unless}}
        {{else}}
            <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 members-login" data-portal="signin">Login</button>
            <button class="px-4 py-2 font-bold text-white bg-pink-500 rounded hover:bg-pink-700 members-subscribe" data-portal="signup">Subscribe</button>
        {{/if}}
    </div>