    {{#if @member}}
<div class="text-center p-6 text-black bg-white">
  You're a member!
</div>
        {{else}}

<div class="text-center p-6 text-black bg-white">
    <h2 style="margin:0 0 20px">Subscribe to the newsletter</h2>

    <form class="subscribe-form" data-members-form="subscribe">
        <div class="subscribe-form-fields">
            <input class="tc" data-members-email="" placeholder="your@email.com" autocomplete="false" required>
            <button type="submit">
                <span style="">Subscribe</span>
            </button>
        </div>
        <div class="message-success">
            <strong>Great!</strong> Check your inbox (or spam folder) and click the link to confirm your subscription.
        </div>
        <div class="message-error">
            Sorry, something went wrong. Please try again.
        </div>
	</form>
</div>
<style>
    .subscribe-form.success .message-success {display:block}
    .subscribe-form.success .subscribe-form-fields {display:none}
    .subscribe-form.error .message-error {display:block}
</style>

    {{/if}}