{{#if @site.navigation}}
  <div
    class="w-2/3 py-2 mx-auto text-xs antialiased text-center font-text sm:block md:hidden lg:hidden"
  >
    {{#if @member}}
      <button
        class="px-4 py-2 font-bold rounded text-grayPrimary hover:text-graySecondary bg-primary hover:bg-green-700 members-account"
        data-portal="account"
      >
        Account
      </button>
      {{#unless @member.paid}}
        <button
          class="px-4 py-2 font-bold rounded text-grayPrimary hover:text-graySecondary bg-mypink hover:bg-red-700 members-upgrade"
          data-portal="account/plans"
        >
          Upgrade
        </button>
      {{/unless}}
    {{else}}
      <button
        class="px-4 py-2 font-bold rounded text-grayPrimary hover:text-graySecondary bg-primary hover:bg-green-700 members-login"
        data-portal="signin"
      >
        Login
      </button>
      <button
        class="px-4 py-2 font-bold rounded text-grayPrimary hover:text-graySecondary bg-mypink hover:bg-red-700 members-subscribe"
        data-portal="signup"
      >
        Subscribe
      </button>
    {{/if}}
  </div>
{{/if}}
<form class="subscription-form" data-members-form="signup">
  <input data-members-name type="text" placeholder="name" required />
  <input data-members-email type="email" placeholder="email" required />
  <button class="btn" type="submit">
    Singup
  </button>
  <div class="success-message">
    Great! Check your inbox and click the link.
  </div>
  <div class="error-message">
    Sorry, something went wrong. Please try again.
  </div>
</form>