{{!< default}} <div class="flex flex-wrap overflow-hidden">
    <div class="flex flex-wrap w-full pt-2 overflow-hidden">

            <div class="mx-auto sm:w-full md:w-1/2">
            <img src="{{@site.cover_image}}" class="inline-block object-cover h-32 align-middle md:h-64">
            </div>
            <div class="w-1/2 pl-3 mx-auto text-justify font-text text-grayPrimary">
        {{>
        "index-text"}}
        </div>

<div class="w-full mt-2 md:w-1/2">
<h1 class="text-sm font-bold text-center uppercase md:text-base font-header text-grayPrimary">Latest video 📹</h1>
<div class="youtube-player" data-id="B-419HFe0Fc">
    </div>
    </div>

        
<div class="w-full pl-3 mt-2 md:w-1/2">
<h1 class="font-bold text-center uppercase ext-sm md:text-base font-header text-grayPrimary">Latest Live 🤳</h1>
<div class="youtube-player" data-id="hmMmDhm7TdE">
</div>
</div>


    </div>
    </div>
    <div class="w-full">
<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded shadow-md" data-members-form="signup">
  <input data-members-email type="email" placeholder="email" class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" required/> 
  <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline" type="submit">Singup</button>
      <!-- Toast Notification Success-->
    <div class="flex items-center px-3 py-2 mb-2 bg-green-500 border-l-4 border-green-700 shadow-md success-message">
       <!-- icons -->
      <div class="mr-3 text-green-500 bg-white rounded-full">
        <svg width="1.8em" height="1.8em" viewBox="0 0 16 16" class="bi bi-check" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
        </svg>
      </div>
      <!-- message -->
      <div class="max-w-xs text-white ">
      Great! Check your inbox and click the link.
      </div>
    </div>
  
  <div class="error-message">Sorry, something went wrong. Please try again.</div> 
</form>
    </div>
    <script>

  function labnolIframe(div) {
    var iframe = document.createElement('iframe');
    iframe.setAttribute(
      'src',
      'https://www.youtube.com/embed/' + div.dataset.id + '?autoplay=1&rel=0'
    );
    iframe.setAttribute('frameborder', '0');
    iframe.setAttribute('allowfullscreen', '1');
    iframe.setAttribute(
      'allow',
      'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
    );
    div.parentNode.replaceChild(iframe, div);
  }

  function initYouTubeVideos() {
    console.log("initialized")
    var playerElements = document.getElementsByClassName('youtube-player');
    for (var n = 0; n < playerElements.length; n++) {
      var videoId = playerElements[n].dataset.id;
      var div = document.createElement('div');
      div.setAttribute('data-id', videoId);
      var thumbNode = document.createElement('img');
      thumbNode.src = '//i.ytimg.com/vi/ID/hqdefault.jpg'.replace(
        'ID',
        videoId
      );
      div.appendChild(thumbNode);
      var playButton = document.createElement('div');
      playButton.setAttribute('class', 'play');
      div.appendChild(playButton);
      div.onclick = function () {
        labnolIframe(this);
      };
      playerElements[n].appendChild(div);
    }
  }

  document.addEventListener('DOMContentLoaded', initYouTubeVideos);
    </script>