{{!< default}} <div class="flex flex-wrap overflow-hidden">
    <div class="w-full pt-2 overflow-hidden">
   
            <img src="{{@site.cover_image}}" class="inline-block object-cover w-1/3 h-32 align-middle md:h-64">
        {{>
        "index-text"}}


    </div>
    </div>