{{!< default}} <div class="flex flex-wrap overflow-hidden">
    <div class="w-full overflow-hidden">
        <div>
            <img src="{{@site.cover_image}}" class="object-cover h-32 md:h-64 w-full inline-block align-middle">
        </div>
        {{>
        "index-text"}}
        <div class="grid grid-cols-2">
            <div>
                    {{#foreach posts}}
                    
                    {{> "card"}} 
                    
                    {{/foreach}}
        </div>
                <div>
                    {{#foreach posts}}
                
                    {{> "card"}} 
                
                    {{/foreach}}
                </div>
        </div>


    </div>
    </div>