{{!< default}} <div class="flex flex-wrap overflow-hidden">
    <div class="flex flex-wrap w-full pt-2 overflow-hidden">

            <div class="w-1/2">
            <img src="{{@site.cover_image}}" class="inline-block object-cover h-32 align-middle md:h-64">
            </div>
        {{>
        "index-text"}}
        

<div class="w-1/2 mt-2">
<h1 class="text-4xl text-center font-header text-primary">Latest video</h1>
    <iframe class="w-1/2" src="https://go.alessandrobelli.it/embed-latest-video" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
        
<div class="w-1/2 pl-3 mt-2">
<h1 class="text-4xl text-center font-header text-primary">Latest Live</h1>
 <iframe class="w-1/2" src="https://go.alessandrobelli.it/embed-latest-live" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    </div>
    </div>