{{!< default}} 
<div class="lg:grid lg:grid-cols-12 lg:gap-8">
  <div
    class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left"
  >
  <img
  class="object-cover w-full rounded-lg sm:h-12 md:h-36"
  src="{{@site.cover_image}}"
  alt=""
/>
    <h1>
      <span
        class="block mt-1 text-4xl font-extrabold tracking-tight sm:text-5xl xl:text-6xl"
      >
        <span class="block text-graySecondary">
          Multimedia Creator 
        </span>
        <span class="block text-primary">
          Digital Solutions
        </span>
      </span>
    </h1>
    <p
      class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl"
    >
        {{>
        "index-text"}}
    </p>
    <div
      class="mt-8 sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0"
    >
      <p class="text-base font-medium text-graySecondary">
        Subscribe to get my notes (for free).
      </p>

        {{> subscribe}}

    </div>
  </div>
  <div
    class="relative mt-12 sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center"
  >
   
    <div class="relative w-full mx-auto rounded-lg shadow-lg lg:max-w-md">


<div class="mb-4"><div class="youtube-player" class="" data-id="{{@custom.youtube_video_1_id}}"></div>
</div>

<div class="youtube-player" class="" data-id="{{@custom.youtube_video_2_id}}"></div>
    </div>
  </div>
</div>
    <script>

  function labnolIframe(div) {
    var iframe = document.createElement('iframe');
    iframe.setAttribute(
      'src',
      'https://www.youtube.com/embed/' + div.dataset.id + '?autoplay=1&rel=0'
    );
    iframe.setAttribute('frameborder', '0');
    iframe.setAttribute('allowfullscreen', '1');
    iframe.setAttribute(
      'allow',
      'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture'
    );
    div.parentNode.replaceChild(iframe, div);
  }

  function initYouTubeVideos() {
    var playerElements = document.getElementsByClassName('youtube-player');
    for (var n = 0; n < playerElements.length; n++) {
      var videoId = playerElements[n].dataset.id;
      var div = document.createElement('div');
      div.setAttribute('data-id', videoId);
      var thumbNode = document.createElement('img');
      thumbNode.src = '//i.ytimg.com/vi/ID/hqdefault.jpg'.replace(
        'ID',
        videoId
      );
      div.appendChild(thumbNode);
      var playButton = document.createElement('div');
      playButton.setAttribute('class', 'play');
      div.appendChild(playButton);
      div.onclick = function () {
        labnolIframe(this);
      };
      playerElements[n].appendChild(div);
    }
  }

  document.addEventListener('DOMContentLoaded', initYouTubeVideos);

    </script>