{{! Get all tiers with monthly price, yearly price, and benefits data }}
{{#get
  "tiers"
  include="monthly_price,yearly_price,benefits"
  limit="all" as |tiers|
}}
  {{! Loop through our tiers collection }}
  {{#foreach tiers}}
    {{name}}
    {{#if monthly_price}}
      <div>
        <a href="javascript:" data-portal="signup/{{id}}/monthly">
          Monthly –
          {{price monthly_price currency=currency}}
        </a>
      </div>
    {{/if}}
    {{#if benefits}}
      {{#foreach benefits as |benefit|}}
        {{benefit}}
      {{/foreach}}
    {{/if}}
  {{/foreach}}
{{/get}}